# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
myenv/
.venv/
venv/
*.egg-info/
dist/
build/
*.db
*.sqlite3

# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json
package-lock.json.backup
package.json

# React
build/
.cache/
coverage/

# Environment variables
.env

# IDE and editor files
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.code-workspace

# OS specific files
.DS_Store
Thumbs.db

# Others
*.log
*.tmp
